*{
    margin: 0;
    padding: 0;
}
/* fixed-styles */
    header,main{
    font-family: Mulish;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}

/* header-nav-styles */
  
nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
    

}
ul li, a{
    list-style: none;
    text-decoration: none;color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;

}
nav img{
    width: 13%;
}
.world-title{
    display: flex;
    align-items: center;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-left: 30px;
}
.color-orange{
    color: #FF5400;
}
/* banner-styles */
.banner{
    height: 80vh;
    width: 100%;
    margin-top: 50px;
    border-radius: 16px;
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
} 
.banner-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    justify-content: center;
    align-items: center;
}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 50px;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 0px 300px;
    margin-bottom: 50px;
}
.banner-btn{
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
}
.banner-btn input{
    padding: 15px 5px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 8px;
    background: #FFF;
}
.search-btn{
    padding: 20px 55px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
}
/* section-tours-styles */

.tours-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tours-content,.tours-img{
   width: 44%;
}
.tours-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.tours-description-one{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}
.tours-description-two{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}


.tours-list li{
    margin-left: 20px;
    list-style:disc;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}
.primary-btn{
    color: #FFF;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    font-family: Mulish;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
}
/* section-destination-styles */

.destination-container{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.destination-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.img-container-one,.img-container-two,.img-container-three{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
/* section-quality-styles */

.quality-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.quality-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.quality-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.quality-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.hotels,.service,.best-price{
    width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 32px 55px 32px;
}
.hotels{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.best-price{
    width: 48%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.hotels-title,.service-title,.best-price-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
}
.hotels-description,.service-description,.best-price-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

/* section-deals-styles */
.deals{
    margin-top: 100px;
}
.deals-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.deals-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.deals-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.details{
    margin-top: 50px;
    height: 80vh;
    display: flex;
    justify-content: end;
    background-image: url(Group\ 39.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px; 
}
.changes{
    display: flex;
    justify-content: start;
}
.details-content{
    width: 40%;
    margin: 56px;
    padding: 50px;
    padding-right: 100px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.details-content span{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.details-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
}
.details-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
.price{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* section-perfect-place-styles */
.perfect-place-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.perfect-place-content,.perfect-place-img{
    width: 50%;
}
.perfect-place-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px; 
    margin-bottom: 15px;
}
.perfect-place-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 15px;
}
ol li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
    margin-left: 20px;
    list-style: disc;
    margin-bottom: 15px;
}

/* section-newsletter-styles */
.newsletter-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.newsletter-sign-up,.newsletter-img{
    width: 60%;
}
.newsletter-sign-up{
    padding: 50px 50px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}
.newsletter-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);;

}
.newsletter-input{
    display: flex;
    flex-direction: column;
}
.newsletter-input input{
    margin-top: 10px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: 0;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px 30px;
    margin-top: 20px;
}
.newsletter-input button{
    margin-top: 20px;
    margin-bottom: 10px;
}
.percentage{
    width: 25%;
    margin-left: auto;
    position: absolute;
    bottom: 75px;
    right: 15px;
    transform: rotate(-20deg);
    padding: 30px;
    border-radius: 16px;
    background: #FF5400;
}
.link{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}
.percentage-description{
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

/* footer-styles */

footer{
    margin-top: 100px;
    width: 100%;
    margin-left: 0px;
    margin-right: auto;
    background: rgba(19, 19, 24, 0.05);
}
.footer-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-description{
    color: #5A5A5D;
    margin-top: 20px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.icon i{
    font-size: 28px;
    margin-top: 30px;
    margin-right: 30px;
}
.reserved{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 110px;
    text-align: center;
    border-top:1px solid rgba(19, 19, 24, 0.10);
}
.reserved-description{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}



/* responsive-styles */

@media screen and (max-width:600px){
    header,main{
        max-width: 95%;
    }
    nav{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
    }
    ul{
        gap: 20px;
    }
    li a{
        font-size: 15px;
    }
    .world-title{
        margin-left: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
    }
    nav img{
        width: 9%;
    }
    .banner{
     height: 80vh;
     margin-top: 10px;
    }
    .banner-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner-description{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .banner-btn{
        flex-direction: column;
    }
    .tours-container{
      flex-direction: column;
      gap: 20px;
      
    }
    .tours-content,.tours-img{
        width: 100%;
    }
    .tours-img img{
        width: 100%;
    }
    
    .destination-content{
        width: 80%;
    }
    .img-container-one,.img-container-two,.img-container-three{
        flex-direction: column;
    }
    .destination-img img{
        width: 100%;
    }
    .quality-container{
        flex-direction: column;
    }
    .quality-content{
        width: 90%;
    }
    .hotels,.service,.best-price{
        width: 80%;
    }
    .perfect-place-container{
        flex-direction: column;
        gap: 20px;
    }
    .perfect-place-content,.perfect-place-img{
        width: 100%;
    }
    .perfect-place-img img{
        width: 100%;
    }
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-sign-up,.newsletter-img{
        width: 100%;
    }

    .newsletter-img img{
        width: 100%;
    }
    .newsletter-sign-up{
        padding: 10px 10px;
    }
    
    .footer-container{
        width: 80%;
    }
    .percentage{
        width: 30%;
        position: relative;
        bottom: 100px;
        padding: 10px;
    }
    .link{
       font-size: 13px;
    }
    .percentage-description{
        font-size: 16px;
    }
    .details{
        justify-content: center;
        align-items: end;
    }
    .details-content{
      width: 90%;
      margin: 20px;
      padding: 10px;

    }
}
 
@media screen and (min-width:600px) and (max-width:960px){
    header,main{
        max-width: 95%;
    }
    nav{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
    }
    ul{
        gap: 20px;
    }
    li a{
        font-size: 15px;
    }
    .world-title{
        margin-left: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
    }
    nav img{
        width: 9%;
    }
    .banner{
     height: 120vh;
     margin-top: 10px;
    }
    .banner-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner-description{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .banner-btn{
        flex-direction: column;
    }
    .tours-container{
      flex-direction: column;
      gap: 20px;
      
    }
    .tours-content,.tours-img{
        width: 100%;
    }
    .tours-img img{
        width: 100%;
    }
    
    .destination-content{
        width: 80%;
    }
    .img-container-one,.img-container-two,.img-container-three{
        flex-direction: column;
    }
    .destination-img img{
        width: 100%;
    }
    .quality-container{
        flex-direction: column;
    }
    .quality-content{
        width: 90%;
    }
    .hotels,.service,.best-price{
        width: 80%;
    }
    .perfect-place-container{
        flex-direction: column;
        gap: 20px;
    }
    .perfect-place-content,.perfect-place-img{
        width: 100%;
    }
    .perfect-place-img img{
        width: 100%;
    }
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-sign-up,.newsletter-img{
        width: 100%;
    }

    .newsletter-img img{
        width: 100%;
    }
    .newsletter-sign-up{
        padding: 10px 10px;
    }
    
    .footer-container{
        width: 80%;
    }
    .percentage{
        width: 30%;
        position: relative;
        bottom: 100px;
        padding: 10px;
    }
    .link{
       font-size: 13px;
    }
    .percentage-description{
        font-size: 16px;
    }
    .details{
        height: 120vh;
        justify-content: center;
        align-items: end;
    }
    .details-content{
      width: 90%;
      margin: 20px;
      padding: 10px;

    }
}




